*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
}


/* Header and nav bar */

.masthead {
  background-image: url('../images/tomato.jpeg');
  background-size: cover;
  padding: 4.5em;
}

.title {
  text-align: center;
  color: white;
  font-family: 'Indie Flower', sans-serif;
  font-size: 4em;
}

#inputBox {
  text-align: center;
  font-family: 'Indie Flower', sans-serif;
  color: white;
  font-size: 1.5em;
  border-radius: 3px;
}

#add {
  cursor: pointer;
  background-color: transparent;
  font-family: 'Indie Flower', sans-serif;
  color: white;
}


/*Lists start*/

.i-have {
  float: right;
  padding-top: 1em;
  padding-right: 20em;
  list-style: none;
  font-family: 'Indie Flower', sans-serif;
}

.i-need {
  float: left;
  padding-left: 13em;
  padding-top: 1em;
  list-style: none;
  font-family: 'Indie Flower', sans-serif;
}

.i-have .items {
  padding-top: 8px;
  font-size: 1.3em;
  color: #F51444;
}


/* unchecked box */

.box {
  float: left;
  height: 15px;
  width: 15px;
  padding-top: 5px;
  padding-right: 20px;
  background: url('../images/unchecked_checkbox.png') no-repeat;
  background-size: contain;
}


/* checked box */

.checkbox {
  background: url('../images/checked_checkbox.png') no-repeat;
  background-size: contain;
  float: left;
  height: 15px;
  width: 15px;
  padding-top: 5px;
  padding-right: 20px;
  display: none;
}

.i-need .items {
  padding-top: 8px;
  font-size: 1.3em;
  color: #1ADB37
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 2em;
  }
  .masthead {
    width: 80%;
    margin: 0 auto;
    position: relative;
    float: none;
  }
  ul {
    float: left;
    margin: 0;
    padding: 0;
    border: 0;
    position: relative;
  }
}
