*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
}


/* Header and nav bar */

.masthead {
  background-image: url('../images/tomato.jpeg');
  background-size: cover;
  padding: 3.5em;
}

.title {
  text-align: center;
  color: white;
  font-family: 'Indie Flower', sans-serif;
  font-size: 4em;
}

#input-box {
  display: block;
  text-align: center;
  font-family: 'Indie Flower', sans-serif;
  color: white;
  font-size: 1.5em;
  border-radius: 3px;
  margin: 0 auto;
}

#input-box,
#add {
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  font-family: 'Indie Flower', sans-serif;
  color: white;
  padding-right: 8px;
}


/*Lists start*/

.i-need {
  margin: 0 auto;
  width: 200px;
}

.items {
  list-style: none;
}

.i-need .items {
  text-align: left;
  padding-top: 8px;
  font-size: 1.3em;
  color: #1ADB37
}

.delete {
  color: red;
  background-color: transparent;
  padding-left: 5px;
}


/*#delete {
  float: right;
}
*/

@media only screen and (max-width: 600px) {
  .title {
    font-size: 2em;
  }
  .masthead {
    width: 80%;
    margin: 0 auto;
    position: relative;
    float: none;
  }
  ul {
    margin: 0;
    padding: 0;
    border: 0;
    position: relative;
  }
}
